.git
.github
.husky
.next/cache
.vscode
src
.env
.gitignore
.lintstagedrc.cjs
.prettierignore
.prettierrc
Dockerfile
eslint.config.js
example.env
i18n.config.ts
postcss.config.js
README.md
tailwind.config.ts
tsconfig.json